div {
  -webkit-filter: drop-shadow(4px 4px 4px #222);
  filter: drop-shadow(4px 4px 4px #222);
}

button:focus {
  outline: 0;
}

.text {
  user-select: none;
  letter-spacing: 0.5rem;
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline;
}
