<body class="mt-2 mb-2 ml-2 mr-2 text-center">
  <h2 class="mat-h2 text-danger mb-0">
    <span [innerHTML]="'login.welcome' | translate"></span>
  </h2>
  <br />
  <mat-icon style="user-select: none;">account_circle</mat-icon>
  <form [formGroup]="loginForm" (submit)="authenticate()">
    <mat-icon style="user-select: none;" class="align-middle mr-2"
      >perm_identity</mat-icon
    >
    <mat-form-field>
      <input
        matInput
        placeholder="Username"
        type="text"
        formControlName="username"
        required
      />
      <mat-error *ngIf="!loginForm.value.username.valid">
        {{ "login.requiredName" | translate }}
      </mat-error>
    </mat-form-field>
    <br />
    <mat-icon style="user-select: none;" class="align-middle mr-2"
      >lock</mat-icon
    >
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        type="password"
        formControlName="password"
        required
      />
      <mat-error *ngIf="!loginForm.value.password.valid"
        >{{ "login.requiredPassword" | translate }}</mat-error
      >
    </mat-form-field>
    <br />
    <button
      class="mt-1"
      mat-raised-button
      color="primary"
      [disabled]="this.loginForm.invalid"
    >
      login
    </button>
  </form>
</body>
