<body class="mt-2 mb-2 ml-2 mr-2 text-center">
  <h4 *ngIf="data.editing">{{ "billings.edit-billing.title" | translate }}</h4>
  <h4 *ngIf="!data.editing">{{ "billings.new-billing.title" | translate }}</h4>

  <form [formGroup]="billingForm">
    <mat-form-field>
      <mat-select
        formControlName="clientId"
        (selectionChange)="selectedClient($event.value)"
        placeholder=" {{ 'billings.new-billing.client' | translate }} "
      >
        <mat-option *ngFor="let client of clients" [value]="client.id">
          {{ client.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-select
        formControlName="therapistId"
        (selectionChange)="selectedTherapist($event.value)"
        placeholder=" {{ 'billings.new-billing.therapist' | translate }} "
      >
        <mat-option *ngFor="let therapist of therapists" [value]="therapist.id">
          {{ therapist.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-select
        formControlName="appointmentId"
        (selectionChange)="selectedAppointments($event.value)"
        placeholder=" {{ 'billings.new-billing.appointment' | translate }} "
      >
        <mat-option
          *ngFor="let appointment of appointments"
          [value]="appointment.id"
        >
          {{ appointment.appointmentDate | date: "dd/MM/yyyy" }} -
          {{ appointment.appointmentType.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-select
        [formControl]="discount"
        [disabled]="!billingForm.value.price || data.discount"
        (selectionChange)="selectedDiscount($event.value)"
        placeholder=" {{ 'billings.new-billing.discount' | translate }} "
      >
        <mat-option
          *ngFor="let discount of discounts"
          [value]="discount.discount"
        >
          {{ discount.toView }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        matInput
        type="number"
        min="0"
        onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
        formControlName="price"
        placeholder=" {{ 'billings.new-billing.price' | translate }} "
      />
    </mat-form-field>
    <br />
    <button [disabled]="billingForm.invalid" (click)="onSave()" mat-button>
      <ng-container *ngIf="!this.data.editing; else elseTemplate">
        {{ "generic.save" | translate }}
      </ng-container>
      <ng-template #elseTemplate>
        {{ "generic.edit" | translate }}
      </ng-template>
    </button>
    <button (click)="onClose()" color="warn" mat-button>
      {{ "generic.close" | translate }}
    </button>
  </form>
</body>
